.table {
    /* outline: 1px #000000 solid; */
    background-color: #f8f9fa;
    border-radius: 5px;
    height: 50%;
}

th {
    font-weight: 900;
    border: 1px #000000 solid;
    text-align: center;
}

tr,
td {
    border: 1px #000000 solid;
    text-align: center;
}

.custom-tr {
    border: 1px #000000 solid;
    text-align: center;
    background-color: #f8f9fa;
}